*{
  margin: 0%;
  padding: 0%;  
}

button{
    height: 60px;
    margin: 10px ;
    padding: 0px 8px 0px 8px;
    background-color: #E22D6F;
    color: #FFFFFF;
    border-radius: 10px;
    border-color: #FFFFFF;
  
}

button:hover{
  cursor: pointer;
  background-color: #FFFFFF;
  color: black;
}

#picture{
    height: 60px;
    margin-right: 2cm;
}

.button{
    background-color: #E22D6F;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

img{
  height: 50px;
  
  margin: 5px 0px 0px 200px;
  vertical-align: text-top;

}

.image{
  text-decoration: none;
  color : #E22D6F;
  font-size: xx-large;
}

.container{
   background-color: #FFFFFF;
   margin-left:50em;

}
.btn-login,.btn-language{
  background-color: #FFFFFF;
  color: black;
  border-color: #FFFFFF;
}

.header-bottom{
  text-decoration: none;
  color:black ;
  margin-left:100px;
  font-size: 20px;
  gap: 10px;
  
} 
.shadow{
text-shadow: 20px 20px 40px black;
}


.category-options{

font-family:  sans-serif;
letter-spacing: 1px;
line-height: 35px;
height: 2200px;

}

.rating-btn{  
width: 120px;
height: 40px;
padding: 5px 4px;
border-radius: 10px;
font-size: 15px;
cursor: pointer;

}

.super-btn{  
width: 160px;
height: 30px;
padding: 10px 30px 40px 30px ;
border-radius: 10px;
font-size: 15px;
cursor: pointer;

}

#search-btn{
width: 170px;
  border: none;
  padding: 15px 25px;   
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;

}


.category-options input[type="radio"] {
 width: 16px;
   height: 16px;
  border: 2px solid black;
  border-radius: 2px; 
  appearance: none;
  cursor: pointer;
   margin-right: 6px;
 

}

.category-options input[type="radio"]:checked {
  background-color: rgb(1, 2, 15);
  border-color: black;
}

.category-options{
width: 230px;
background-color: white;
border-radius: 12px;
padding: 20px;
top: 10px;
box-shadow: 10px 10px 7px hsl(0, 1%, 70%);
 width: 250px;
 margin: 0;
 vertical-align: top;
}

.layout-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 0px;
    overflow: hidden;
}


.left-side {
    width: 350px;             
    height: 700px;      
    border-right: 1px solid #ddd;
    padding: 0px;
    background: #fff;
    position: sticky;         
    top: 0;
    overflow-x: hidden;
}

#top-search{
  width: 750px;                
  height: 45px;               
  padding: 10px 160px;    
  margin-top: 10px;    
  font-size: 18px;             
  border: 2px solid darkgrey;   
  border-radius: 20px;         
  outline: none;              
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-right: 80px;

}

.signup-section{
text-align: center;
display: flex;
justify-content:space-between;
color: rgb(33, 48, 48);
padding: 20px 10px 20px 20px; 
border-radius: 15px;
margin-top: 20px;
font-size: 20px;
font-weight: bolder;
font-family:Verdana, Geneva, Tahoma, sans-serif;
margin-top: -4px;
margin-left: 6px;
background-color: #ffe6ec;
width: 1032px;
}

.signup-section p{
margin-bottom: 4px;
padding-right: 300px;
}
.panda-logo{
width: 150px;
height: auto;
margin-right: 200px;
}

.signup-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.signup-btn{

width: 80px;
height: 30px;
border-radius: 10px;
background-color: #ec2e80;
color: white;
margin-left: 40px;
}

.Deals-cards{
display: flex;
gap: 10px;
}



.deals-section h2{
margin-left: 32px;
color: rgb(99, 96, 96);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 30px;
}

.Deal-1 img{
width: 250px;
height: 150px;
border-radius: 20px;
margin-left: 50px;
}

.Deal-2 img{
width: 250px;
height: 150px;
border-radius: 20px;
}

.Deal-3 img{
width: 250px;
height: 150px;
border-radius: 20px;
}

.Cuisines-dish{
display: flex;
gap: 5px;

}

.dish img{
width: 120px;
height: 150px;
margin-left: 50px;
cursor:pointer;
}

.dish p{
text-align: center;
margin-left: 20px;
color: #e21b70;
font-size: 17px;
}



.card{
  display: flex;
  gap: 20px; 
  margin-left: 1em;


}
.cart {
  overflow: hidden;
  width: auto;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  position: relative;
  padding: 5px;
  
}

.cart img {
  width: 100%;
  overflow: hidden;
  height:auto;
  border-radius: 12px;
  margin-left: 0.5px;  
  object-fit:cover;
}
.cart h3 {
  margin: 10px   5px;
  font-size: 18px;

}
 
.card p{
color: rgb(100, 88, 88);
font-family:  sans-serif;
}


.restaurant-card h2{
margin-left: 42px;
color: rgb(99, 96, 96);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 30px;
}

.restaurant-card {
display: flex;
gap: 20px;
margin-top: 30px;
margin-left: 1em;
}

.restaurant-cart img{
  width: 100%;
  overflow: hidden;
  height:auto;
  border-radius: 12px;
  margin-left: 0.5px;  
  object-fit:cover;
}


.restaurant-cart{
  margin-top: 5px;
 background-color: #fff; ;
 box-shadow: 0 4px 20px rgba(0,0,0,0.1);
 position: relative;
border-radius: 15px;
padding: 5px;
}

.restaurant-cart p{
color: rgb(100, 88, 88);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.restaurant-card-1{
display: flex;
gap: 20px;
margin-left: 25px;
margin-top: 30px;

}
.restaurant-cart-1 img{
height:auto ;
border-radius: 15px ;
object-fit: cover;

}
.restaurant-cart-1{
 background-color: #fff; ;
 box-shadow: 0 4px 20px rgba(0,0,0,0.1);
 position: relative;
border-radius: 15px;
padding: 5px;

}


.restaurant-cart-1 p{ 
   color: rgb(100, 88, 88);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.foodpanda-footer {
  display: flex;
  justify-content: space-between;
  background-color: #f7f7f7; 
  padding: 40px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.foodpanda-footer {
  display: flex;
  justify-content: space-between;
  background-color: #f7f7f7; 
  padding: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 180px;
}

.footer-column a {
  text-decoration: none;
  color: #0f0e0e;
  font-size: 19px;
}







